body {
    text-align: center;
    color: peru;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: left;
}

#container {
    width: 850px;
    height: max-content;
    margin: 10px auto;
    border: 1px solid red;
}

#cabecera {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 70px;
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
}

.objetivo {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}


img {
    width: 500px;
}